<div><h1>Welcome!</h1></div>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/stock-option-load" class="nav-link">Home</a>
    </li>
  </div>
  <div class="navbar-nav ml-auto" *ngIf="!currentUser">
    <li class="nav-item">
      <a href="/register" class="nav-link">SignUp</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link">Login</a>
    </li>
  </div>
  <div class="navbar-nav ml-auto" *ngIf="currentUser">
    <li class="nav-item">
      <a href="/profile" class="nav-link">{{currentUser.name}}</a>
    </li>
    <li class="nav-item">
      <a (click)="logout()" class="nav-link">Logout</a>
    </li>
  </div>
</nav>
<router-outlet></router-outlet>